---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---
<div class={`contact-icons ${className}`}>
  <a href="https://lb.linkedin.com/in/mfhchehade" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://scholar.google.com/citations?user=cVUnhukAAAAJ&hl=en" target="_blank">
    <i class="fas fa-user-graduate"></i>
  </a>
  <a href="https://github.com/mfhchehade" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://twitter.com/MFHChehade" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="mailto:chehade@utexas.edu">
    <i class="fas fa-envelope"></i>
  </a>
  <a href="tel:7373400862">
    <i class="fas fa-phone"></i>
  </a>
</div>

<style>
  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .contact-icons a {
    color: var(--secondary);
    font-size: 1.5rem;
    transition: color 0.2s;
  }

  .contact-icons a:hover {
    color: var(--primary);
    text-decoration: none;
  }
</style>